# Network configuration
[network]
    # interface, listen for ssdp and dlna connections
    # "" - mean autodetect
    iface = ""

    # ip addresses on which server listens,
    # "" - mean autodetect and skip "127.0.0.1"
    ip = ""

# Server configuration
[server]
    # port, default is auto detected available port
    port = 55975
    # Header "SERVER:" for ssdp and dlna server
    header = "Macos/15.0 UPnP/1.0 GoDLNA/0.1"

# SSDP configuration
[ssdp]
    disable = false

# Logger configuration
[logger]
    # Optional, (deafult is info) Possible values: debug, info, warn, error
    level = "debug"

# Device configuration
[device]
    # Optional, Name, as you see it on TV
    friendlyName = "Video"

    # Optional, unique device ID - string, should be string like "uuid:${UUIDv4}"
    # By default build by md5(friendlyName) =>  "uuid:%x-%x-%x-%x-%x"
    uuid = "uuid:da2cc462-0000-0000-0000-44fd2452e0FF"

# Video store configuration
[store]
    # required, directory with media files
    media_dir = "storage/media"
    # required, directory where generated cache files will be stored
    cache_dir = "storage/cache"
    # optional (default 10 minutes), format "10m" - 10 minutes, "10h" - 10 hours
    # how often should be checked directory changes
    cache_life_time = "10m"